<!DOCTYPE html>
<html>
  <head>
    <title>Missfitnessv4</title>
    <%= csrf_meta_tags %>
    <%= display_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="collapse navbar-collapse navbar-ex1-collapse">
              <% if user_signed_in? -%>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to 'Viết bài mới', new_post_path %></li>
                  <li><%= link_to 'Thêm huấn luyện viên mới', new_trainer_path %></li>
                  <li><%= link_to 'Thêm dịch vụ', new_service_path %></li>
                  <li><%= link_to 'Thêm sản phẩm', new_shop_path %></li>
                  <li><%= link_to 'Account', edit_user_registration_path %></li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                </ul>
              <% else -%>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to 'Sign up', new_user_registration_path %></li>
                  <li><%= link_to 'Sign in', new_user_session_path %></li>
                </ul>
              <% end -%>
    </div>
      <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

      <div id="content" class="col-md-9 center-block">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
